body {
  overflow-x: hidden;
}

#navbar {
  background-color: #343a40;
  width: 1349px;
  height: 66px;
}

#navbar .nav-left .phone {
  color: white;
  margin-top: 24px;
  margin-left: -78px;
}

#navbar .nav-left .phone:hover {
  color: #ffbc09;
}

#navbar .nav-left .email {
  margin-left: 50px;
  color: white;
  margin-top: -24px;
}

#navbar .nav-left .email:hover {
  color: #ffbc09;
}

#navbar .nav-right .list-group-items {
  float: right;
  padding: 20px;
  list-style-type: none;
  font-size: 20px;
  color: white;
}

#navbar .nav-right .list-group-items .items {
  margin-left: 5px;
}

#navbar .nav-right .list-group-items .items:hover {
  color: #ffbc09;
}

.global .globals .globalitem .globalitems:hover {
  color: yellow;
}

.edutext .edu h3 {
  text-align: center;
}

.edutext .edu p {
  text-align: center;
}

.edutext .book img {
  background-color: #f6475f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 123px;
  margin-top: 63px;
}
