// colors
$primary-color:#ffbc09;
$color-success:#28a745;
$color-tab:#343a40;
$color-danger:#dc3545;
$primary-black-color:#333333;
$secondary-black-color:#6b6b6b;
$opacity-color:rgba(0,0,0,0.5);
$footer-text-color:#858585;


// fonts
$primary-font:'Rubik', sans-serif;
$secondary-font:'Roboto', sans-serif;


// font Sizes
$title-font-size:40px;
$sub-title-font-size:20px;